/*********************************** 
Whole Document Styles 
***********************************/

@font-face {
  font-family: AncientModernTales-a7Po;
  src: url(./fonts/AncientModernTales-a7Po.ttf);
}

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Sans', Arial, sans-serif;
    background-color: #d2a5d2;
}

/*********************************** 
Header & Navigation
***********************************/

header{
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #340434;
    border: 10px solid  #5b305c;
    border-style: outset;
}

header h1{
    color: #f9d2f9;
    padding: 5px 1% 5px 6%;
    margin: 0;
    font-size: 4em;
    font-family: AncientModernTales-a7Po;
}

nav ul > li{
    list-style-type: none;
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
}

nav a {
    text-decoration: none;
    color: #f9d2f9;
    font-family: AncientModernTales-a7Po;
    font-size: 2.2em;
  }

/* Hover effect on nav links */

nav ul li a::before {
    background: #ffee10;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
  }

nav ul li a:hover {
    color: #ffee10;
    text-shadow: 0 0 5px #ffee10;
  }

/*********************************** 
Hero Section
***********************************/

#hero-section{
    display: flexbox;
    background: #5b305c;
    image-rendering: pixelated;
    background-image: url(./img/dungeon_background.jpg);
    overflow: hidden;
    background-blend-mode: soft-light;
    padding-top:250px;
    display: flex-end;
    text-align: center;
    animation: slide 30s linear infinite;
}

/* Adds animated movement to hero section */

@keyframes slide {
  from { background-position: left bottom; }
  to { background-position: 100% bottom; }
}

#hero-section h2{
    background-color: #f9d2f9;
    color: black;
    margin: 0;
    padding: 5px 10px;
    font-family: AncientModernTales-a7Po;
    font-size: 2.5em;
    line-height: 1.2;
    border: 10px solid  #5b305c;
    border-style: outset;
}

/* Adds flame animation to hero banner */

.blink_animation {
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 50%;
  }
}

/*********************************** 
Main Section
***********************************/
main h2 {
  font-family: AncientModernTales-a7Po;
}

.page-wrapper {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
  }

.page-section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
  }

  .page-section > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 25px;
    border-right: 10px double black;
    font-size: 3.5vw;

  }
  
  .page-section > div {
    flex: 0 0 77%;
  }
  
  .page-section p {
    margin-bottom: 20px;
    font-size: 20px;
  }

/*********************************** 
My Projects Section
***********************************/

.my-work-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

.flex-item {
  border: 10px solid  #5b305c;
  border-style: outset;
  border-radius: 5px;
  background-color: #5b305c;
  color: #f9d2f9;
  min-height: 150px;
  max-height: 150px;
  flex-basis: calc(50% - 1em);
  display: flex;
  align-items: flex-end;
  padding: 0 0 20px 0;
  margin: 0.5em;
  text-decoration: none;
  background-blend-mode: soft-light;
  background-size: 150%;
  transition: all 0.5s;
  font-size: 1rem;
}
  
/* feature first portfolio item */
#main-project {
  min-height: 400px;
  flex-basis: 100%;
}

.flex-item:hover {
  background-color: #340434;
}

.flex-item div {
  background-color: #5b305c;
  padding: 8px 15px;
  border: 5px solid #f9d2f9;
  border-style: outset;

}

.flex-item h3 {
  font-size: .8em;
}

/* Background Images for my work section */

.cfh-website{
    background-image: url("./img/cfh-website.jpg");
    background-size: cover;
    background-position: center;
  }

.khs-website{
    background-image: url("./img/khs-website.png");
    background-size: cover;
    background-position: center;
}

.onechild-website{
  background-image: url("./img/one-child-logo.png");
  background-size: cover;
  background-position: center;
}
.week_one_challenge{
  background-image: url("./img/search-engine-optimization.jpg");
  background-size: cover;
  background-position: center;
}

.nft{
  background-image: url("./img/Dungeon.jpg");
  background-size: cover;
  background-position: center;
}

/*********************************** 
Contact Me Section
***********************************/

#contact-me address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

#contact-me address a {
  text-decoration: none;
  color: #f9d2f9;
  font-family: AncientModernTales-a7Po;
  font-size: 2em;
  background-color: #340434;
  padding: 5px;
  border: 10px solid #5b305c;
  border-style: outset;
}

/* Hover effect on contact links */
#contact-me a::before {
    background: #ffee10;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
  }

#contact-me a:hover {
    color: #ffee10;
    text-shadow: 0 0 5px #ffee10;
  }