/*********************************** 
Whole Document Styles 
***********************************/
@font-face {
  font-family: AncientModernTales-a7Po;
  src: url(./fonts/AncientModernTales-a7Po.ttf);
}

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #d2a5d2;
}

/*********************************** 
Header & Navigation
***********************************/
header{
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #340434;
}

header h1{
    color: #f9d2f9;
    padding: 5px 1% 5px 6%;
    margin: 0;
    font-size: 4vw;
    font-family: AncientModernTales-a7Po;
    text-transform: capitalize;
}

nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul > li{
    list-style-type: none;
    display: inline-block;
    padding: 5px 10px;
    margin-right: 10px;
    line-height: 2px;
}

nav a {
    text-decoration: none;
    position: relative;
    color: #fff;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    font-family: AncientModernTales-a7Po;
    font-size: 1.8em;
  }

  ul li a::before {
    background: #ffee10;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
  }

  ul li a:hover {
    color: #ffee10;
    text-shadow: 0 0 5px #ffee10;
  }

/*********************************** 
Hero Section
***********************************/

#hero-section{
    display: flexbox;
    background: #5b305c;
    image-rendering: pixelated;
    background-image: url(./img/dungeon_background.jpg);
    background-size: 55%;
    background-blend-mode: soft-light;
    min-height: 38vh;
    padding-top:200px;
    display: flex-end;
    text-align: center;
    animation: slide 25s linear infinite;
}
/* Adds animated movement to hero section */
@keyframes slide {
  from { background-position: left bottom; }
  to { background-position: 100% bottom; }
}

#hero-section h2{
    background-color: #f9d2f9;
    color: black;
    margin: 0;
    padding: 5px 10px;
    font-family: AncientModernTales-a7Po;
    font-size: 3rem;
    line-height: 1.2;
}

.blink_animation {
  animation: blinker 3s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 50%;
  }
}

/*********************************** 
Main Section
***********************************/

.page-wrapper {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
  }

.page-section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
  }

  .page-section > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid black;
    font-size: 3vw;
    line-height: 1.1;
  }

  .page-section > div {
    flex: 0 0 77%;
  }
  
  .page-section p {
    margin-bottom: 20px;
    font-size: 20px;
  }

/*********************************** 
My Projects Section
***********************************/
main h2 {
  font-family: AncientModernTales-a7Po;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .flex-item {
    border: 5px solid grey;
    background-color: grey;
    color: grey;
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    transition: all 0.5s;
    font-size: 0.9rem;
  }

  /* feature first portfolio item */
.flex-item:first-child {
    min-height: 400px;
    flex-basis: 100%;
}

.flex-item:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.flex-item div {
  background-color: #5b305c;
  padding: 8px 10px;
}

.flex-item h3 {
  font-size: 1.6rem;
   font-family: AncientModernTales-a7Po;
}

/* Background Images for my work section */
.hord-gold {
    background-image: url("./img/Dungeon.jpg");
    background-size: cover;
  }

.cfh-website{
    background-image: url("./img/cfh-website.jpg");
    background-size: cover;
    background-position: center;
  }

.khs-website{
    background-image: url("./img/khs-website.png");
    background-size: cover;
    background-position: center;
}